.main {
    text-align: center;
    display: flex;
    background-color: #242424;
    color: white;
    position: absolute;
    top: 0; bottom: 0; right: 0; left: 0;
}

.sideBar {
    width: 250px;
    padding: 5px;
    background-color: #202123
}

.chat {
    flex: 1;
    background-color: #343541;
}